/* 프로필 */
.profile{
    margin-top: min(165px, 24vw);
}

.profile .img{
    text-align: center;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    width: 28vw;
    height: 28vw;
    background: #eee url(../img/main/profile.png) no-repeat center / 50% auto;
    max-width: 200px;
    max-height: 200px;
}

.profile h2{
    padding: min(27px, 4vw) 0 min(4px, 1vw);
}
.profile p{
    padding: 0 0 0 min(8px, 1vw); 
}
.profile h2 + p {
    font-family: 'GmarketSansLight';
    font-size: min(20px, 4.4vw);
    letter-spacing: -0.01em;
    margin-bottom: min(250px, 10vw);
    text-transform: uppercase;
}

.info{
    font-weight: 100;
    opacity: 0.86;
    position: relative;
    padding-bottom: min(70px, 8vw);
}

.info span{
    font-weight: 700;
}

.info::after{
    content: "PORTPORLIO";
    font-family: 'GmarketSansBold'; 
    opacity: 0.2;
    font-size: min(42px, 4vw);
    float: right;
    position: absolute;
    right: 0;
    top: 4px;
}


/* 프로젝트 & 편집 공통 */
.gallery a{
    display: block;
    float: left;
    height: 50vw;
    max-height: 600px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    transition: background-size 0.6s;
    position: relative;
}

.gallery a:hover{
    background-size: auto 120%;
}

.gallery .text{
    position: absolute;
    bottom: min(40px, 10vw);
    width: 100%;
    padding: 0 min(20px, 3vw) 0 min(30px, 8vw);
}

.gallery .text h4{
    font-size: min(28px, 5vw);
    font-weight: 900;
}

.gallery .text p{
    font-size: min(18px, 5vw);
    font-weight: 400;
    padding: min(18px, 1.5vw) 0 min(18px, 1vw);
    line-height: min(24px, 6vw);
    letter-spacing: -1px;
}


.gallery .text h4{
    color: #151515;
}

.gallery .text p{
    color: #212121;
}

.gallery .text span{
    color: #252525;
    line-height: min(20px, 4vw);
    display: inline-block;
}

.gallery .text.white h4,
.gallery .text.white p,
.gallery .text.white span{
    color: #fff;
}


/* 프로젝트 */
.project .section_tit + p{
    padding-bottom:min(65px, 7vw);
}

.project .gallery a{
    width: 33.3333%;  
}

.project .gallery .text p{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.project .gallery .text span{
    font-family: 'GmarketSansLight';
    font-size: min(15px, 3vw);
    text-transform: uppercase;
}


/* 편집 */
.edit {
    margin-bottom: min(80px, 20vw);
}

.edit .section_tit + p{
    padding-bottom:min(60px, 6.5vw);
}

.edit .section_tit + p br{
    display: none;
}

.edit .gallery a{
    width: 50%;  
  }

.edit .gallery .text h4{
    font-size: min(30px, 5vw);
}

.edit .gallery .text p{
    font-size: min(20px, 4vw);
}


@media screen and (max-width: 844px){
    .profile h2 + p {
        font-size: 13px;
    }

    .gallery a{
        background-size: 100% auto;
    }

    .gallery a:hover{
        background-size: 100% auto;
    }

    .gallery .text h4{
        margin-bottom: 1px;
    }

    .project .gallery a{
        width: 50%;
        height: 60vw;
    }
    
    .project .gallery .text p{
        display: none;
    }

    .edit .section_tit + p br{
        display: block;
    }

    .edit .gallery a{
        background-position: center top;
        background-size: 78% auto;
    }
}

@media screen and (max-width: 480px){
    .info::after{
        display: none;
    }

    .gallery a{
        float: none;   
        width: 100% !important;  
    }

    .project .gallery a{
        height: 107vw;
    }

    .edit .gallery a{
        height: 80vw;
    }
    
}