/*서브 공통 */
.contents.sub {
    width: calc(100% - 120px);
}

/* 메인 비주얼 */
.mv{ 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vw;
    max-height: 860px;
    min-height: 300px;
    margin-top: min(80px, 16vw);
}

.mv .tit{
    max-width: 1200px;
    width: 80%; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mv .tit.white{
    color: #fff;
}

.mv .tit h2{
    font-weight: 900;
    font-size: min(64px, 7vw);
}

.mv .tit span{
    font-family: 'GmarketSansLight';
    font-size: min(20px, 3.8vw);
}

/* 타 서브페이지 이동 */
.btn_page{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'GmarketSansLight';
    font-size:18px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 11px 0;
}

.btn_page.back{ 
    left: 8vw;
}

.btn_page.next{ 
    right: 8vw;
}

/* 오버뷰 */
.overview{
    font-family: 'GmarketSansMedium';
    font-size: min(18px, 4vw);
}

.overview h3{
    font-size: min(38px, 5vw);
    margin-bottom: min(50px, 10vw);
}

.overview ul li{
    float: left;
    width: 23.75%;
    margin-left: 1.666666666666667%;
    line-height: 1.2;
}

.overview ul li:first-child{
    margin-left: 0;
}

.overview ul li span{
    font-family: 'GmarketSansLight';
}

/* 링크 로고 포폴 이미지 */
.link, .logo, .portpolio, .issue{
    margin-top: min(50px, 15vw); 
    font-family: 'GmarketSansMedium';
}

.link h3, .logo h3, .issue h3{
    font-size: min(38px, 5vw);
    margin-bottom: min(20px, 9vw);
}

.link .btn_wrap a{
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    max-width: 220px;
    width: calc((100% - 10px) / 2);
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    background:#000;
    margin-left: 10px;
}

.link .btn_wrap a:first-child{
    margin-left: 0;
}

.link .btn_wrap a img{
    margin-left: 5px;
    margin-top: -7px;
}

.link .comment, .logo .comment, .issue .comment{
    font-family: 'GmarketSansLight';
    color: #212121;
    margin: 20px 0;
    font-size: min(18px, 4vw);
}

.logo img, .portpolio img{
    max-width: 100%; 
}
.portpolio2{
     margin-bottom: min(80px, 8vw)
}

@media screen and (max-width: 1600px){
    /* 타 서브페이지 이동 */
    .btn_page.back{
        left: 30px;
    }
    .btn_page.next {
        right: 30px;
    }
    
}

@media screen and (max-width: 844px){
    .btn_page{
        display: none;
    }

    .mv .tit span{
        font-size: 13px;
    }


    .overview h3, .link h3, .logo h3 {
        margin-bottom: 20px;
    }

    .overview ul li{
        width:48%;
        margin-left:4%;
    }

    .overview ul li:nth-child(3){
        margin-left:0;
    }

    .overview ul li:nth-child(3),
    .overview ul li:nth-child(4){
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px){
    .link .btn_wrap a{
        width: 49%;
        margin-left: 2%;
        font-size: 11px;
        line-height: 48px;
    }

    .link .btn_wrap a img{
        width: 16px;
    }
}
